@charset "UTF-8";

img{
	width:300px;
	height: 200px;
}

body{
	background-color: #fee6a4
	
}

input[type=submit]{
	background-color: green;
	color: white;
	padding: 8px;
	border-radius: 5px;
	border:none;
}

input[type=reset]{
	background-color:red;
	color: white;
	padding: 8px;
	border-radius: 5px;
	border:none;
}

button {
    background-color: black; /* Fundo preto */
    color: white; /* Texto branco */
    border: none; /* Sem rebordo */
    padding: 10px; /* Espaçamento interno */
}

.reservas{
	width:100%;
	border-collapse: collapse;
	
}

.reservas td, .reservas th{
	border: 1px solid #ddd;
	padding: 5px;
	text-align: center
}

.reservas th{
	background-color: green;
	color: white
}

.reservas tr:hover{
	background-color: #ddd;
}